@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */
@font-face {
  font-family: "spaceage";
  src: url("/fonts/space_age/spaceage.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "marlinsoft-regular";
  src: url("/fonts/marlin-soft-basic/MarlinSoftBasic-Regular.otf")
    format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "marlinsoft-slant";
  src: url("/fonts/marlin-soft-basic/MarlinSoftBasicSlant-Regular.otf")
    format("opentype");
  /* font-weight: normal; */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "circularstd";
  src: url("/fonts/circular-std-medium-500.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular A Medium";
  src: url("/fonts/euclid-circular-a/Euclid-Circular-A-Medium.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular A Regular";
  src: url("/fonts/euclid-circular-a/Euclid-Circular-A-Regular.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular A Light";
  src: url("/fonts/euclid-circular-a/Euclid-Circular-A-Light.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular A SemiBold";
  src: url("/fonts/euclid-circular-a/Euclid-Circular-A-SemiBold.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Striated-Medium";
  src: url("/fonts/striated/Striated/Striated-MediumTrial.otf")
    format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueHaasDisplay-Black";
  src: url("/fonts/NeueHaasGrotesk/NeueHaasDisplay-Black.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueHaasDisplay-Bold";
  src: url("/fonts/NeueHaasGrotesk/NeueHaasDisplay-Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueHaasDisplay-Light";
  src: url("/fonts/NeueHaasGrotesk/NeueHaasDisplay-Light.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueHaasDisplay-Medium";
  src: url("/fonts/NeueHaasGrotesk/NeueHaasDisplay-Mediu.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueHaasDisplay-Thin";
  src: url("/fonts/NeueHaasGrotesk/NeueHaasDisplay-Thin.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

:root {
  --bg: #1b1b1b;
  --foreground: #171717;
  --font-space-age: "spaceage";
  --font-body-light: "Euclid Circular A Light"
}

html,
body {
  background: var(--bg);
}

/* globals.css */

/* Reset box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
  padding-left: 0;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

/* Remove table border spacing */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set the font to sans-serif for consistent text rendering */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Normalize form elements */
input,
textarea,
button,
select {
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

/* Allow form elements to inherit styles from parent */
input,
textarea,
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Normalize the behavior of buttons */
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  font: inherit;
}

/* Normalize the focus outline for accessibility */
*:focus {
  outline: 2px solid #4d90fe;
  outline-offset: 2px;
}

/* Remove default image size and behavior */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Normalize the font size for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  /* line-height: 1.2; */
}

/* Reset the default styling for the hr tag */
hr {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 1em 0;
}

/* Provide some spacing between sections */
section {
  margin-bottom: 1.5em;
}

/* Ensure consistent rendering of block elements */
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
table,
form {
  display: block;
}

/* Disable text transformation on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
}

/* Normalize the scrollbar behavior (optional) */
html {
  scrollbar-width: auto;
  scrollbar-color: #888 #e0e0e0;
}

.font-heading {
  font-family: var(--font-space-age);
}
.font-body {
  font-family: var(--font-body-light);
}

/* Smooth scrolling + motion-safe transitions */
html:focus-within {
  scroll-behavior: smooth;
}
/* @media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
    scroll-behavior: auto !important;
  }
} */
